body {
    background: #f0f0f0;
    font-family: Arial;
    padding: 20px;
}

#area {
    height: 300px;
    overflow-y: auto;
    background: white;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
}
